@import url("https://fonts.googleapis.com/css?family=Lato:100,300");
/* KEYFRAMES */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* RESETS /* */
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #7d7d7d;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

body, html {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #7d7d7d;
  font-weight: 100; }
  @media screen and (max-width: 768px) {
    body, html {
      font-weight: 300; } }

a, a:hover, a:visited, a:focus {
  color: #7d7d7d;
  text-decoration: none; }

/* NAVIGATION */
nav {
  width: 100%;
  text-align: right;
  z-index: 1030;
  height: 60px; }
  @media screen and (max-width: 768px) {
    nav {
      text-align: center; } }
  nav .container {
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      nav .container {
        padding-right: 10px;
        padding-top: 10px; } }

.menu {
  padding-top: 35px;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 768px) {
    .menu {
      padding: 0; } }

.menu a {
  color: #7d7d7d;
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 0 0 15px;
  font-size: 1em;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 3px; }
  @media all and (max-width: 768px) {
    .menu a {
      font-weight: 300;
      padding: 10px 3px; } }

button {
  color: #fff;
  font-weight: 300;
  padding: 2px 15px;
  background: pink;
  border: 0;
  border-radius: 1em; }

/* HEADER /* */
header {
  padding: 80px 0;
  margin: 0 auto;
  position: relative; }
  @media all and (max-width: 768px) {
    header {
      padding-top: 10px;
      padding-bottom: 10px; } }

.profilepic {
  border-radius: 50%; }
  @media all and (max-width: 768px) {
    .profilepic {
      padding-bottom: 40px; } }

h1.header {
  color: #7d7d7d;
  font-family: "Lato", sans-serif;
  font-size: 3.5em;
  letter-spacing: 5px;
  font-weight: 100;
  line-height: 1em;
  text-align: left;
  padding-top: 60px; }
  @media all and (max-width: 768px) {
    h1.header {
      display: none; } }

h2.header {
  color: #7d7d7d;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  letter-spacing: 3px;
  padding-top: 20px;
  letter-spacing: 0; }
  @media all and (max-width: 768px) {
    h2.header {
      text-align: left;
      font-size: 1.5em;
      padding-top: 20px;
      font-weight: 300; } }
  h2.header span {
    font-size: 1em;
    color: pink; }

/* CONTENT SECTION */
#portfolio {
  padding-top: 60px; }
  @media all and (max-width: 768px) {
    #portfolio {
      padding-top: 20px; } }

.container-fluid {
  padding: 0 30px; }
  @media all and (max-width: 768px) {
    .container-fluid {
      padding: 0; } }

.row {
  margin: 0 auto; }
  @media all and (max-width: 768px) {
    .row {
      padding-bottom: 20px; } }

img {
  float: left;
  padding: 10px;
  width: 100%;
  margin: 0 auto; }

.dailycss {
  float: left;
  text-align: center;
  width: 50%;
  display: inline; }

/* DESCRIPTIONS */
.description {
  padding: 30px; }
  .description h3 {
    color: #7d7d7d;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    text-align: right; }
    @media all and (max-width: 768px) {
      .description h3 {
        font-size: 1.3em;
        font-weight: 300; } }

/* CONTACT SECTION */
#contact {
  padding-top: 50px;
  padding-bottom: 100px; }
  @media all and (max-width: 768px) {
    #contact {
      padding-top: 10px;
      padding-bottom: 20px; } }

.about h1 {
  font-size: 3.5em;
  font-weight: 100; }
  @media all and (max-width: 768px) {
    .about h1 {
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0; } }

.about h2 {
  font-size: 2em;
  padding-top: 20px;
  font-weight: 100; }
  @media all and (max-width: 768px) {
    .about h2 {
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0; } }
  .about h2 a {
    font-size: 1em;
    color: pink; }
