@import url("https://fonts.googleapis.com/css?family=Roboto:100, 300");
/* KEYFRAMES */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* RESETS /* */
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #7d7d7d;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  color: #7d7d7d;
  font-family: "Roboto", sans-serif; }

body, html {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #7d7d7d; }

a, a:hover, a:visited, a:focus {
  color: pink;
  text-decoration: none; }

.container-fluid {
  max-width: 1400px; }

.container {
  max-width: 1200px; }

/* NAVIGATION */
nav {
  width: 100%;
  text-align: right;
  z-index: 1030;
  height: 60px; }
  @media screen and (max-width: 768px) {
    nav {
      text-align: center; } }
  nav .container {
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      nav .container {
        padding-right: 10px;
        padding-top: 10px; } }

.menu {
  padding-top: 35px;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 768px) {
    .menu {
      padding: 0; } }

.menu a {
  color: #7d7d7d;
  display: inline-block;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  text-transform: lowercase;
  letter-spacing: 3px; }
  @media all and (max-width: 768px) {
    .menu a {
      font-size: 0.9em;
      padding: 10px 3px; } }
  .menu a:hover {
    border-bottom: 1px solid pink; }
  .menu a:last-child {
    padding-right: 0; }
  .menu a:last-child:hover {
    border: 0; }

button {
  color: #fff;
  font-weight: 300;
  padding: 2px 15px;
  background: pink;
  border: 0;
  border-radius: 1em; }

/* HEADER & CONTACT SECTION */
/* HEADER /* */
header {
  padding-top: 150px;
  padding-bottom: 80px;
  margin: 0 auto;
  position: relative; }
  @media all and (max-width: 768px) {
    header {
      padding-top: 30px;
      padding-bottom: 10px; } }

.home {
  max-width: 1400px; }

h1 {
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1em;
  text-align: left;
  padding-bottom: 10px; }
  @media all and (max-width: 768px) {
    h1 {
      font-size: 2em;
      letter-spacing: 0; } }
  h1 span {
    font-size: 1em;
    color: pink; }

h2 {
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-top: 10px; }
  @media all and (max-width: 768px) {
    h2 {
      font-size: 1.3em;
      padding-top: 20px;
      letter-spacing: 0; } }
  h2 a {
    font-size: 1em;
    color: pink; }

#contact {
  padding-top: 50px;
  padding-bottom: 100px; }
  @media all and (max-width: 768px) {
    #contact {
      padding-top: 10px;
      padding-bottom: 20px; } }

/* CONTENT SECTION */
#portfolio {
  padding-top: 60px; }
  @media all and (max-width: 768px) {
    #portfolio {
      padding-top: 20px; } }

.container-fluid {
  padding: 0 30px; }
  @media all and (max-width: 768px) {
    .container-fluid {
      padding: 0; } }

.row {
  margin: 0 auto; }
  @media all and (max-width: 768px) {
    .row {
      padding-bottom: 20px; } }

img {
  float: left;
  padding: 10px;
  width: 100%;
  margin: 0 auto; }

.dailycss {
  float: left;
  text-align: center;
  width: 50%;
  display: inline; }

/* DESCRIPTIONS */
.description {
  padding: 30px 10px; }
  .description h3 {
    color: #7d7d7d;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    text-align: right; }
    @media all and (max-width: 768px) {
      .description h3 {
        font-size: 1em; } }
