@import url("https://fonts.googleapis.com/css?family=Lato:100,300|Playfair+Display:100,400,400i,700,700i");
/* KEYFRAMES */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* RESETS /* */
*, h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #9BB2B0;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif; }

body, html {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #7d7d7d;
  font-weight: 100; }

body {
  border: 20px solid #9BB2B0; }

a, a:hover, a:visited, a:focus {
  color: #7d7d7d;
  text-decoration: none; }

/* NAVIGATION */
nav {
  width: 100%;
  text-align: right;
  z-index: 1030;
  height: 60px; }
  @media screen and (max-width: 768px) {
    nav {
      text-align: center; } }
  nav .container {
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      nav .container {
        padding-right: 10px;
        padding-top: 10px; } }

.menu {
  padding-top: 35px;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 768px) {
    .menu {
      padding-top: 0; } }

.menu a {
  color: #9BB2B0;
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 30px 0 5px;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 3px; }
  @media all and (max-width: 768px) {
    .menu a {
      font-weight: 300;
      padding: 10px 10px; } }

a.hire {
  color: #fff;
  background: #9BB2B0;
  border-radius: 25px;
  font-weight: 300;
  padding: 3px 25px 6px 27px; }
  @media screen and (max-width: 768px) {
    a.hire {
      padding: 0 22px 3px 24px; } }

/* HEADER /* */
header {
  text-align: center;
  padding: 80px 0;
  margin: 0 auto;
  position: relative; }
  @media all and (max-width: 768px) {
    header {
      padding-top: 30px;
      padding-bottom: 20px; } }

h1 {
  color: #9BB2B0;
  font-family: "Playfair Display", serif;
  font-size: 8em;
  font-style: italic;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 1em; }
  @media all and (max-width: 1025px) {
    h1 {
      font-size: 5em; } }
  @media all and (max-width: 768px) {
    h1 {
      font-size: 3.5em; } }

h2 {
  color: #9BB2B0;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 55px; }
  @media all and (max-width: 768px) {
    h2 {
      font-size: 1.2em;
      padding-top: 20px;
      font-weight: 300; } }

/* CONTENT SECTION */
#portfolio {
  padding-top: 60px; }

.container-fluid {
  padding: 0 30px; }
  @media all and (max-width: 768px) {
    .container-fluid {
      padding: 0; } }

.row {
  margin: 0 auto; }
  @media all and (max-width: 768px) {
    .row {
      padding-bottom: 20px; } }

.description {
  color: #9BB2B0;
  font-size: 1.5em;
  text-align: right;
  letter-spacing: 3px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px; }
  @media all and (max-width: 768px) {
    .description {
      font-weight: 300; } }

img {
  width: 100%;
  margin: 0 auto; }

/* CONTACT SECTION */
#contact {
  background: #9BB2B0;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media all and (max-width: 768px) {
    #contact {
      padding-bottom: 20px; } }

.contactme {
  text-align: center;
  padding: 25px; }
  @media all and (max-width: 768px) {
    .contactme {
      padding: 0; } }
  .contactme h4 {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 5px;
    font-style: italic; }
    @media all and (max-width: 768px) {
      .contactme h4 {
        font-size: 2em;
        letter-spacing: 2px; } }
  @media all and (max-width: 768px) {
    .contactme h5 {
      padding-left: 15px; } }
  .contactme h5 a {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 5px; }
    @media all and (max-width: 768px) {
      .contactme h5 a {
        font-size: 2em;
        font-weight: 100; } }

.contact-item {
  padding: 0 30px;
  display: inline-block; }
