/* ABOUT SECTION */
#about
  padding-top: 40px
  padding-bottom: 60px

h4
  font-size: 2rem
  font-weight: 100

p
  font-size: 1.1em
  font-weight: 100
  line-height: 1.5
  margin: 10px 0
  a
    font-weight: 300
    &:hover
      border-bottom: 0

.social
  padding-top: 10px
  font-size: 1.7rem

  a .fa
    color: $pink
    font-size: 1.7rem
    vertical-align: baseline
    padding-right: 20px

  a:hover
    border-bottom: 0
