/* ABOUT SECTION */
#about
  padding-top: 40px
  padding-bottom: 60px
  @media screen and (max-width: 768px)
    padding-top: 10px
    padding-bottom: 40px

h4
  font-size: 2rem
  font-weight: 100
  letter-spacing: 3px
  line-height: 1.5
  span
    color: $pink

p
  font-size: 1.2em
  font-weight: 100
  line-height: 1.5
  margin: 10px 0
  a
    font-weight: 300
    &:hover
      border-bottom: 0
