
/* CONTENT SECTION */
#portfolio
  padding-top: 60px

.container-fluid
  padding: 0 30px
  @media all and (max-width: 768px)
    padding: 0

.row
  margin: 0 auto
  @media all and (max-width: 768px)
    padding-bottom: 20px

.description
  color: $green
  font-size: 1.5em
  text-align: right
  letter-spacing: 3px
  width: 100%
  padding-top: 10px
  padding-bottom: 30px
  @media all and (max-width: 768px)
    font-weight: 300

img
  width: 100%
  margin: 0 auto
