/* CONTACT SECTION */
#contact
  background: $green
  padding-top: 50px
  padding-bottom: 50px
  @media all and (max-width: 768px)
    padding-bottom: 20px

.contactme
  text-align: center
  padding: 25px
  @media all and (max-width: 768px)
    padding: 0

  h4
    color: #fff
    font-family: $headers
    font-size: 2em
    font-weight: 700
    letter-spacing: 5px
    font-style: italic
    @media all and (max-width: 768px)
      font-size: 2em
      letter-spacing: 2px

  h5
    @media all and (max-width: 768px)
      padding-left: 15px
    a
      color: #fff
      font-family: $body
      font-size: 4em
      font-weight: 100
      letter-spacing: 5px
      @media all and (max-width: 768px)
        font-size: 2em
        font-weight: 100

.contact-item
  padding: 0 30px
  display: inline-block
