/* HEADER /*

header
  text-align: center
  padding: 80px 0
  margin: 0 auto
  position: relative
  @media all and (max-width: 768px)
    padding-top: 30px
    padding-bottom: 20px

h1
  color: $black
  font-family: $body
  font-size: 5em
  letter-spacing: 5px
  font-weight: 100
  line-height: 1em
  text-align: left
  @media all and (max-width: 768px)
    font-weight: 300
    font-size: 3.5em
    padding-left: 25px
h2
  color: $black
  font-family: $body
  font-size: 2em
  font-weight: 100
  text-align: left
  letter-spacing: 3px
  padding-top: 30px
  @media all and (max-width: 768px)
    font-size: 1.2em
    padding-top: 20px
    font-weight: 300
    padding-left: 25px

span .current
  color: $black
  font-size: 1.5em
