/* HEADER /*

header
  text-align: center
  padding: 20px 0
  margin: 0 auto
  position: relative

h1
  color: $green
  font-family: $headers
  font-size: 8em
  font-style: italic
  letter-spacing: 5px
  font-weight: 700
  line-height: 1em
  @media all and (max-width: 768px)
    font-size: 1.5em
h2
  color: $green
  font-family: $body
  font-size: 2em
  font-weight: 100
  text-align: center
  letter-spacing: 3px
  padding-top: 55px
