/* NAVIGATION */
nav
  width: 100%
  text-align: right
  z-index: 1030
  height: 60px
  @media screen and (max-width: 768px)
    text-align: center


  .container
    margin: 0 auto
    @media screen and (max-width: 768px)
      padding-right: 10px
      padding-top: 10px
.menu
  padding-top: 35px
  padding-right: 15px
  padding-left: 15px
  @media screen and (max-width: 768px)
    padding-top: 0

.menu a
  color: $black
  font-family: $body
  display: inline-block
  margin: 0 auto
  padding: 5px 0 0 15px
  font-size: 1em
  font-weight: 100
  text-transform: lowercase
  letter-spacing: 3px
  @media all and (max-width: 768px)
    font-weight: 300
    padding: 10px 5px

button
  color: #fff
  font-weight: 300
  padding: 2px 15px
  background: pink
  border: 0
  border-radius: 1em
