/* NAVIGATION */
nav
  width: 100%
  text-align: right
  z-index: 1030
  height: 60px

  .container
    margin: 0 auto
    @media screen and (max-width: 768px)
      padding-right: 10px
      padding-top: 10px
.menu
  padding-right: 15px
  padding-left: 15px

.menu a
  color: $green
  font-family: $body
  display: inline-block
  margin: 0 auto
  padding: 18px 10px
  font-size: 1em
  font-weight: 100
  text-transform: lowercase
  letter-spacing: 3px
