/* RESETS /*

*, h1, h2, h3, h4, h5, h6, p
  margin: 0 auto
  padding: 0
  text-decoration: none
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  color: $black
  font-size: 18px

h1, h2, h3, h4, h5, h6
  color: $black
  font-family: $body

body, html
  max-width: 100%
  min-height: 100%
  margin: 0 auto
  font-size: 18px
  font-family: $body
  color: $black

a, a:hover, a:visited, a:focus
  color: pink
  text-decoration: none

.container-fluid
  max-width: 1400px

.container
  max-width: 1200px
