/* RESETS /*

*, h1, h2, h3, h4, h5, h6, p
  margin: 0 auto
  padding: 0
  text-decoration: none
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  color: $black
  font-size: 18px

h1, h2, h3, h4, h5, h6
  font-family: $body

body, html
  max-width: 100%
  min-height: 100%
  margin: 0 auto
  font-size: 18px
  font-family: $body
  color: $black
  font-weight: 100
  @media screen and (max-width: 768px)
    font-weight: 300

a, a:hover, a:visited, a:focus
  color: $black
  text-decoration: none
